.chatlist {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 35%;
  padding: 5px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hint {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: justify;
  border-bottom-left-radius: inherit;
  background-color: #eae6df;
}

.invalidNumber {
  color: #b34545;
  font-weight: 700;
}