.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: inherit;
  cursor: pointer;
  &:hover {
    background-color: #f5f6f6;
  }
}

.active {
  background-color: #f0f2f5;
  &:hover {
    background-color: #f0f2f5;
  }
}

.photo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.name {
  display: flex;
  flex: 1;
  margin-left: 10px;
}
